Source: indicator-network
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Ken VanDine <ken.vandine@canonical.com>
Build-Depends: cmake,
               dbus,
               debhelper (>= 9.0.0),
               google-mock (>= 1.6.0+svn437),
               libconnectivity-cpp-dev,
               libdbus-cpp-dev,
               libglib2.0-dev,
               libnm-glib-dev (>= 0.9),
               libnm-util-dev (>= 0.9),
               libnotify-dev,
               libqmenumodel-dev,
               libqtdbusmock1-dev,
               libqtdbustest1-dev,
               liburl-dispatcher1-dev,
               network-manager-dev,
               pkg-config,
               python3-dbusmock,
               qtbase5-dev,
               valgrind,
Standards-Version: 3.9.3
# If you aren't a member of ~indicator-applet-developers but need to upload
# packaging changes, just go ahead. ~indicator-applet-developers will notice
# and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~indicator-applet-developers/indicator-network/trunk.13.10
Vcs-Browser: https://bazaar.launchpad.net/~indicator-applet-developers/indicator-network/trunk.13.10/files
Homepage: https://launchpad.net/indicator-network

Package: indicator-network
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ubuntu-mobile-icons (>= 13.04+13.10.20131014),
# For apport hook
         python3-xdg,
         unity8 (>= 7.82),
Conflicts: chewie,
           indicators-client-plugin-network,
Description: Systems settings menu service - Network indicator
 The Indicator-network service is responsible for exporting the system settings
 menu through dbus.
