Source: chewie
Section: gnome
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Ken VanDine <ken.vandine@canonical.com>
Vcs-Bzr: lp:indicator-server
Vcs-Browser: http://code.launchpad.net/indicator-server
Build-Depends: debhelper (>= 9.0.0),
               dh-autoreconf,
               gnome-common,               
               pkg-config,
               dbus,
               libnm-glib-dev (>= 0.9),
               libnm-util-dev (>= 0.9),
               libglib2.0-dev,
               libgtk-3-dev,
               libpulse-dev,
               valac-0.18,

Standards-Version: 3.9.3
Homepage: https://launchpad.net/chewie

Package: chewie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Systems settings menu service - Chewie
 The Chewie service is responsible for exporting the system settings menu 
 through dbus
