#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/default.mk

export DPKG_GENSYMBOLS_CHECK_LEVEL = 4

ifneq (,$(filter $(DEB_HOST_ARCH),arm64 s390x powerpc amd64))
        ENABLE_TESTS = OFF
else
        ENABLE_TESTS = ON
endif

%:
	dh $@ --parallel --fail-missing --with python3

override_dh_auto_configure:
	dh_auto_configure -- -DENABLE_TESTS=${ENABLE_TESTS}

