[Indicator Service]
Name=indicator-network
ObjectPath=/com/canonical/indicator/network
Position=60

[desktop]
ObjectPath=/com/canonical/indicator/network/desktop

[desktop_greeter]
ObjectPath=/com/canonical/indicator/network/desktop_greeter

[desktop_wifi_settings]
ObjectPath=/com/canonical/indicator/network/desktop_wifi_settings


[tablet]
ObjectPath=/com/canonical/indicator/network/tablet

[tablet_greeter]
ObjectPath=/com/canonical/indicator/network/tablet_greeter

[tablet_wifi_settings]
ObjectPath=/com/canonical/indicator/network/tablet_wifi_settings


[phone]
ObjectPath=/com/canonical/indicator/network/phone
Position=35

[phone_greeter]
ObjectPath=/com/canonical/indicator/network/phone_greeter
Position=35

[phone_wifi_settings]
ObjectPath=/com/canonical/indicator/network/phone_wifi_settings
Position=35


[ubiquity]
ObjectPath=/com/canonical/indicator/network/ubiquity
